{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2><i class="fas fa-history"></i> Historique des Commandes</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Copies NB</th>
                    <th>Copies Couleur</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.user_id.email }}</td>
                    <td>{{ order.bw_copies }}</td>
                    <td>{{ order.color_copies }}</td>
                    <td>{{ order.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}