{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2><i class="fas fa-history"></i> Historique des Actions</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Action</th>
                    <th>Détails</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.user.email }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.details }}</td>
                    <td>{{ log.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}